.body{
    margin: 0;
    font-family: system-ui; 
}
.div1{
   display: flex;
   flex-direction:column;
   align-items: center;
   width: 25%;
   height:45vh ;
   border-style: solid;
   box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
   margin: 8px;
   border-width: 2px;
}
.content{
   display: flex;
}